
<footer id="foot" class="footer bg-dark py-3 mt-auto bg-opacity-25">
    <div class="container">
    <span class="text-muted">&copy; Yelpcamp-2025</span>
    </div>

</footer>

<!-- 
how to add footer properly?
1.create your ideal footer partial
2. class define karlo according to your need, mt-auto karna taki wo haamesha niche rahe and py-3 is padding
3.include your footer in your boilerplate
4.boilerplate ka body class = display=flex (d-flex) aur column flexbox kardo and vh-100 bhi, 
-->
<!-- link for placeholder pictures -->
<!-- `https://picsum.photos/400?random=${Math.random()}` -->